@page "/pokemons"
@using EjemploFlyweigth.Domain.Models


@using EjemploFlyweigth.Domain
@using EjemploFlyweigth.Domain.Services

@rendermode InteractiveServer

<h1>Pokémon List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apodo</th>
            <th>Nivel</th>
            <th>Puntos de Salud</th>
            <th>Puntos de Ataque</th>
            <th>Tipo de Pokémon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pokemon in Pokemons)
        {
            <tr>
                <td>@pokemon.Nombre</td>
                <td>@pokemon.Apodo</td>
                <td>@pokemon.Nivel</td>
                <td>@pokemon.Ps</td>
                <td>@pokemon.Pp</td>
                <td>@pokemon.Tipo</td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<PokemonServiceModel> Pokemons = new List<PokemonServiceModel>();

    protected override async Task OnInitializedAsync()
    {
        Pokemons = await ApiService.Singleton().GetPokemons();
    }
}
